<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="/cascaron/template :: head">

	<title>Lista de Clientes</title>
</head>

<body>
	<header th:replace="/cascaron/template :: header"></header>

	<div class="container mt-3">
		<div class="row">
			<div class="col-md-6">
				<div class="table-container">
					<h2>Pre-Reservaciones</h2>
					<div class="mb-3">
					<a th:href="@{/clientes/adminpage}" class="btn btn-primary">Retornar</a>
					</div>
					<table class="table">
						<thead>
							<tr>
								<th>Número de Documento</th>
								<th>Nombre</th>
								<th>Completar alquiler</th>
							</tr>
						</thead>
						<tbody>
							<!-- Itera sobre la lista de clientes -->
							<tr th:each="cliente : ${clientes}">
								<td th:text="${cliente.numdoc}"></td>
								<td th:text="${cliente.nombreSolicitante}"></td>
								<td>
									<a th:href="@{'/clientes/' + ${cliente.numdoc}}"
										class="btn btn-primary">Editar Orden</a>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
	</div>
</body>
	<footer th:replace="/cascaron/template :: footer"></footer>

</html>