<!DOCTYPE html>
<html xmlns:th=http://www.thymeleaf.org>

<head>
	<meta charset="UTF-8">
	<link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=MedievalSharp&display=swap" rel="stylesheet">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
	<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
	<link th:href="@{/css/fondo.css}" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=MedievalSharp&display=swap" rel="stylesheet">

	<title>Inicio</title>
</head>

<body>
	<header>
		<nav class="navbar navbar-expand-lg navbar-light bg-light justify-content-center">
			<a class="navbar-brand" th:href="@{/home}">Inicio</a> <a class="navbar-brand"
				th:href="@{/views/vehiculos/}">Autos</a>
			<!--			<a class="navbar-brand" th:href="@{/clientes/list}">Admin</a>-->
			<a class="navbar-brand" th:href="@{/clientes/adminpage}">Admin</a>
			<div class="navbar-nav ml-auto">
				<div class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" href="#" id="notificationDropdown" role="button"
						data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="fas fa-bell"></i>
					</a>
					<div class="dropdown-menu dropdown-menu-right" aria-labelledby="notificationDropdown">
						<a class="dropdown-item" href="#">Notification 1</a> <a class="dropdown-item"
							href="#">Notification 2</a> <a class="dropdown-item" href="#">Notification 3</a>
					</div>
				</div>
			</div>
		</nav>
	</header>
	
	
	<div class="container mt-4 mb-4">
		<h3 class="text-center" style="font-family: 'MedievalSharp';">Somos tu mejor opción para la renta de vehículos
		</h3>

		<div class="container">
			<div class="image mx-auto text-center">
				<img src="images/cover5.png" alt="Image 1" style="width: 50%; height: auto;">
			</div>
			<div class="text-center mt-3">
				<a href="/views/vehiculos/" class="btn btn-primary">Ver Vehiculos Disponibles</a>
			</div>
		</div>
	</div>
	
	
	<footer th:fragment="footer" class="text-center footer fixed-bottom">

		<div>&copy; 2023 Databases Administration | Alquiler de
			Vehiculos | Grupo 1</div>

		<script th:src="@{/js/bootstrap.bundle.min.js}"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
		<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
		<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>


	</footer>

</body>

</html>